.page {
  padding: 60px 0 0 0;
  h1 {
    margin: 0 0 10px 0;
  }
}

.common-page {
  h1 {
    margin: 0 0 10px 0;
  }
  li {
    margin: 15px 0 0 0;
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  p {
    line-height: 1.4;
  }

  h2 {
    display: block;
  }

  h3 {
    position: relative;
    transition: all 0.2s;

    &:hover {
      color: brown;
    }
  }

  .linkTo {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    left: 0;
    @include ts;
    color: azure;
    svg {
      position: absolute;
      right: -20px;
    }
  }
}
.common-id {
  h2 {
    font-family: "RR", sans-serif;
    margin: 0 0 10px 0;
  }
  .linkTo {
    margin: 0 0 20px 0;
  }
  .card {
    margin: 20px 0 0 0;
  }

  table {
    &.gros {
      width: auto;
      margin: 10px 0 0 0;
      background: #fff;
      border: 2px solid #2d019b;
      box-shadow: 1px 1px 4px #666;
      font-family: "Roboto-Regular", sans-serif;

      font-weight: 400;
      color: #000;

      h3 {
        display: block;
        font-size: 16px;
        line-height: 1;
        padding: 6px 2px;
        color: #3b1b8b;
        background-color: #9167fc;
      }

      thead tr {
        th {
          font-size: 14px;
          font-weight: 400;
          line-height: 1;
          text-shadow: none;
          // text-align: center;
          text-transform: uppercase;
          background-color: #9167fc;
          color: #fff;
          padding: 6px 33px 4px 5px;
          white-space: nowrap;
          border: 1px solid #fff;
        }
      }

      tbody {
        td {
          width: auto;
          white-space: normal;
          padding: 6px 33px 4px 5px;
          text-align: left;
          border: 1px solid $blue-grey-3;
        }

        tr {
          &:nth-child(2n) {
            background-color: $blue-grey-1;
          }
        }
      }
    }

    &.clein {
      margin: 10px 0 0 0;

      tr {
        border-top: 5px solid transparent;
        border-bottom: 15px solid transparent;
      }

      th {
        white-space: nowrap;
        padding: 0 20px 8px 0;
      }

      th,
      td {
        vertical-align: top;
      }

      td {
        display: inline-grid;
        row-gap: 5px;

        &:not(:has(p)) div {
          padding: 8px 0 3px;
        }
      }

      p div {
        padding: 3px 8px 3px 3px;
      }
    }
  }
}

h3 {
  font-size: 14px;
  line-height: 1;
  padding: 2px 0;
}

.recomendet {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 6px;

  .Note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 20px;

    p {
      position: relative;
      opacity: 0.6;
      white-space: nowrap;

      &::after {
        content: "";
        position: absolute;
        background-color: red;
        width: 2px;
        height: 100%;
        top: 0;
        left: -6px;
      }
    }
  }
}

.opentab-enter-from {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.opentab-enter-to {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
@media (max-width: 1100px) {
  table.gros {
    display: block;
  }

  table.gros {
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    thead {
      display: none; // Скрываем заголовок таблицы на маленьких экранах
    }

    tr {
      border-bottom: 4px solid #3b1b8b;
      &:last-child {
        border-bottom: none;
      }
    }
    td {
      display: flex;
      justify-content: space-between;
      position: relative;
      text-align: right;

      &:before {
        content: attr(
          data-label
        ); // Используем атрибут для отображения заголовка внутри ячейки
        position: absolute;
        left: 0px;
        font-weight: bold;
        text-align: left;
        color: #000;
        max-width: 150px;
        white-space: normal;
      }
    }
  }

  .common-id table.gros tbody td {
    padding: 0px 0px 0px 150px;
  }
}
